* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

section {
  max-width: 100%;
}
.clearfix {
  overflow: auto;
}

body {
  font-family: "Martel serif", sans-serif;
  font-weight: 200;
  margin: 0 auto;
}
/******************* 
    GRID SETUP
********************/

#container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(60px, auto);
  grid-template-areas: 
    "header"
    "nav-bar"
    "main";
}

#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  grid-area: nav-bar;
  background-color: rgba(1, 3, 28, .9);
  color: #fff;
}

#header {
  grid-area: header;
  background-color: rgb(14, 94, 87);
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid goldenrod;
}

main {
  grid-area: main;
  background-color: #fff;
}

/*********************
       HEADER 
**********************/

header {
  padding: 5px;
}

.header-left {
  display: flex;
  justify-content: left;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.yourApp {
  color: #fff;
}

#bell-div {
  margin-right: 5px;
  border-right: .5px #fff solid;
  position: relative;
}

.notification {
  position: absolute;
  right: 7px;
  top: 0px;
  background-color: lime;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

#bell-div img {
  width: 28px;
  height: 38px;
  padding-right: 5px;
}

.profile-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.clientName {
  font-weight: 200;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  padding-left: 5px;
  
}
/************************
    NAVIGATION BAR
************************/

.dashboard {
  display: block;
  background-image: url("../icons/icon-dashboard.svg");
  width: 40px;
  height: 40px;
}

.members {
  display: block;
  background-image: url("../icons/icon-members.svg");
  width: 40px;
  height: 40px;
}

.visits {
  display: block;
  background-image: url("../icons/icon-visits.svg");
  width: 40px;
  height: 40px;
}

.settings {
  display: block;
  background-image: url("../icons/icon-settings.svg");
  width: 40px;
  height: 40px;
}

/*****************************
    MAIN DASHBOARD & CHARTS
******************************/

#top-bar {
  display: flex;
  flex-direction: row;
}

.gray-bar {
  background-color: rgb(225, 225, 225);
  flex-grow: 2;
}

.main-title {
  width: 30%;
  margin: 0 5px;
}

section h4 {
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 20px;
}

.traffic-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.traffic-nav-link {
  font-weight: 500;
  padding: 7px;
}

.traffic-nav-link:hover {
  background-color: rgba(112, 192, 125, 0.4);
  border-radius: 45%;
  color: #fff;
}

.active {
  background-color: rgba(112, 192, 125, 0.8);
  border-radius: 45%;
  color: #fff;
}
.chart {
  display: flex;
  justify-content: center;
  max-width: 90%;
  margin: 5px auto;
}

/************************
    SOCIAL MEDIA  
************************/

.social-container {
  display: flex;
  flex-direction:column;
  align-items: center;
  max-width: 100%;
}

.social-container h4 {
  align-self: flex-start;
 
}

.social {
  display: flex;
  flex-direction: row;
  width: 85%;
  background-color: rgba(242, 242, 242, 1);
  /* background-color: rgba(14, 94, 87, .1); */
  height: 100px;
  border: dimgray solid 2px;
  /* border:maroon solid 2px; */
  border-radius: .5em;
  margin: 10px auto;
  color: rgb(14, 94, 87);
}

.social-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
  max-width: 25%;
}

.social-text {
  flex-grow: 2; 
  font-size: 18px;
}

.ig-svg {
  fill: rgb(14, 94, 87);
}

.fb-svg {
  fill: rgb(14, 94, 87);
}

.twitter-svg {
  fill: rgb(14, 94, 87);
}

/************************
       MEMBERS  
************************/

.divider {
  line-height: .8em;
  color: blue;
}

.members-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  border-bottom: solid black .5px;
  padding-bottom: 5px;

}

.members-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.members-text a {
  font-size: .8em;
  text-decoration: none;
}

.members-container p {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: .8em;
  text-align: center;
}

.members-container img {
  border-radius: 50%;
  width: 60px;
}

.members-container span {
  font-weight: 500;
  display: block;
}

/************************
       MESSAGING  
************************/

#messaging {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messaging-name {
  width: 80%;
  background-color: rgba(242, 242, 242, .7);
  border: 1px solid rgb(193, 193, 193);
  height: 40px;
  margin: 15px auto;
  border-radius: .5em;
  padding: 10px;
}

.messaging-text {
  width: 80%;
  padding: 10px;
  min-height: 135px;
  background-color: rgba(242, 242, 242, .7);
  border: 1px solid rgb(193, 193, 193);
  margin: 15px auto;
  border-radius: .5em;
}

.messaging-button {
  width: 80%;
  color: #fff;
  background-color: rgba(14, 94, 87, .8);
  border-radius: .5em;
  margin: 15px auto;
  min-height: 45px;

}

/************************
       MESSAGING  
************************/

#settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}

input[type="checkbox"], select {
  margin: 20px 0;
}

.cancel-button {
  background-color: rgb(175, 175, 175);
}

.save-button {
  background-color: rgba(14, 94, 87, .8);
}

.settings-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.save-button, .cancel-button {
  width: 45%;
  min-height: 45px;
  margin: 0 10px;
  border: 1px solid rgb(193, 193, 193);
  border-radius: .5em;
  text-transform: uppercase;
  color: #fff;
}

.settings-box {
  margin-bottom: 2em;
}