* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

body {
  font-family: "Martel", sans-serif;
  font-weight: 200;
  margin: 0 auto;
}
/******************* 
    GRID SETUP
********************/

#container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(60px, auto);
  grid-template-areas: 
    "header"
    "nav-bar"
    "main";
}

#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  grid-area: nav-bar;
  background-color: rgb(60, 58, 95);
  color: #fff;
}

#header {
  grid-area: header;
  background-color: rgb(96, 94, 180);
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main {
  grid-area: main;
  background-color: #fff;
}

/*********************
       HEADER 
**********************/

.header-left {
  display: flex;
  justify-content: left;
  margin-left: 8px;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}


.yourApp {
  flex-basis: 103px;
  color: #fff;
}

#bell-div {
  margin: 20px 5px 15px 25px;
  border-right: .5px #fff solid;
  position: relative;
}

.notification {
  position: absolute;
  right: 7px;
  top: 0px;
  background-color: lime;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  /* display: inline-block; */
}

#bell-div img {
  /* margin-top: 10px; */
  width: 28px;
  height: 38px;
  padding-right: 5px;
}

.profile-img {
  margin-top: 10px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.clientName {
  font-weight: 500;
  font-size: 14px;
  width: 85px;
  color: #fff;
  padding-left: 5px;
  
}
/************************
    NAVIGATION BAR
************************/

.dashboard {
  display: block;
  background-image: url("../icons/icon-dashboard.svg");
  width: 40px;
  height: 40px;
}

.members {
  display: block;
  background-image: url("../icons/icon-members.svg");
  width: 40px;
  height: 40px;
}

.visits {
  display: block;
  background-image: url("../icons/icon-visits.svg");
  width: 40px;
  height: 40px;
}

.settings {
  display: block;
  background-image: url("../icons/icon-settings.svg");
  width: 40px;
  height: 40px;
}

/************************
         MAIN 
************************/

#top-bar {
  display: flex;
  flex-direction: row;
}

.gray-bar {
  background-color: rgb(245, 245, 245);
  flex-grow: 2;
}

.main-title {
  width: 30%;
  margin: 0 5px;
}

.traffic-header h4 {
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 20px;
}

.traffic-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 600;
}