$color-theme:  rgb(14, 94, 87);
$color-theme-button: rgba(14, 94, 87, .8);
$color-theme-faded: rgba(14, 94, 87, .5);


$box-background: rgba(242, 242, 242, .7);
$box-border: 1px solid rgb(193, 193, 193);