$color-theme: rgb(82, 0, 1);

$color-theme-button: rgba( $color-theme, .8);
$color-theme-faded: rgba( $color-theme, .5);


$box-background: rgba(242, 242, 242, .7);
$box-border: 1px solid rgb(193, 193, 193);