@media (min-width: 768px) {

  #container {
    width: 100%;
    display: grid;
    grid-template-columns: 100px 2fr;
    grid-auto-rows: minmax(60px, auto);
    grid-template-areas:
      "header header header"
      "nav-bar main main"
      "nav-bar main main";
  }


  #nav-bar {
    height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .dashboard {
    @include nav-margins;
  }

  .visits {
    @include nav-margins;
  }

  .members {
    @include nav-margins;
  }

  .settings {
    @include nav-margins;
  }

  .traffic-nav {
    justify-content: flex-end;
    margin-right: 15px;
  }

  .traffic-nav-link {
    padding: 15px;
  }

  #graph-wrapper {
    display: flex;
    flex-direction: row;
  }

  #graph-wrapper section {
    width: 50%;
    border-top: $box-border;
    border-bottom: $box-border;
  }
  .widget-container-pie {
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 30px;
    border: $box-border;
    border: 0;
  }

  .widget-container-bar {
    border: $box-border;
    border-bottom: 0;
    padding-right: 10px;
    border: 0;
  }

  .members-text {
    align-items: flex-start;
  }

  .members-container p {
    text-align: left;
  }

  .toggle-button-1 {
    justify-content: flex-start;
  }

  .switch-light strong {
    margin-right: 15px;
  }

  .toggle-button-2 {
    justify-content: flex-start;
  }

  // .toggle-button-2 strong {
  //   margin-right: 48px;
  // }

  .social-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .social {
    margin: 10px 10px;
    justify-content: flex-start;
  }

  .social-text {
    flex-grow: unset;
    padding-left: 20px;
  }

  .members-container {
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  }

  .members-left {
    display: flex;
    flex-direction: row;
  }

  .members-text {
    padding-left: 20px;
    padding-top: 10px;
  }

  .members-right p {
    display: block;
    font-size: 1.2em;
    padding-right: 10px;
    font-weight: 500;
  }
  
}

@media (min-width: 1024px) {

  #members {
    display: flex; 
    flex-direction: row;
  }

  #message-and-settings {
    display: flex; 
    flex-direction: row;
    border-top: $box-border;
  }

  .flex {
    width: 50%;
  }

  section {
    border-right: $box-border;
  }

  .members-container {
    min-height: 75px;
  }

  .toggle-button {
    margin-bottom: 35px;
  }

  .settings-h4 {
    margin-bottom: 54px; 
  }

}
