@media (min-width: 768px) {

  #container {
    width: 100%;
    display: grid;
    grid-template-columns: 100px 2fr;
    grid-auto-rows: minmax(60px, auto);
    grid-template-areas:
      "header header header"
      "nav-bar main main"
      "nav-bar main main";
  }


  #nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .dashboard {
    @include nav-margins;
  }

  .visits {
    @include nav-margins;
  }

  .members {
    @include nav-margins;
  }

  .settings {
    @include nav-margins;
  }

  #graph-wrapper {
    display: flex;
    flex-direction: row;
  }

  #graph-wrapper section {
    width: 50%;
    border-top: $box-border;
    border-bottom: $box-border;
  }
  .widget-container-pie {
    padding-top: 30px;
    padding-left: 15px;
  }

}