* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

section {
  max-width: 100%;
  border: $box-border;
  border-bottom: 0;
}
.clearfix {
  overflow: auto;
}

body {
  font-family: "Martel serif", sans-serif;
  font-weight: 200;
  margin: 0 auto;
}