/************************
      SETTINGS 
************************/

.toggle-button-1,
.toggle-button-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 10px;
}

.switch-ios.switch-light strong {
  flex-basis: 200px;
}

.switch-ios.switch-light > span {
  flex-basis: 100px;
}

.switch-ios.switch-light input:checked ~ span {
  // border-color: rgba(117, 9, 2, 0.5);
  // box-shadow: inset 0 0 0 30px rgba(117, 9, 2, 0.5);
  border-color: $color-theme;
  box-shadow: inset 0 0 0 30px $color-theme-faded;
}

.switch-ios.switch-light input:checked ~ span a {
  // border-color: rgba(117, 9, 2, 0.55);
  border-color: $color-theme;
}

input[type="checkbox"], select {
  margin: 20px 0;
}

#timezone-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.timezone {
  background-color: rgba(242, 242, 242, 0.7);
  width: 93%;
  height: 50px;
  border: 1px solid gray;
  border-radius: .3em;
}

.cancel-button {
  background-color: rgb(175, 175, 175);
}

.save-button {
  background-color: $color-theme-button;
}

.settings-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.save-button, .cancel-button {
  width: 45%; 
  min-height: 45px;
  margin: 0 10px;
  border-radius: .5em;
  text-transform: uppercase;
  color: #fff;
}

.settings-box {
  margin-bottom: 2em;
}
