/************************
      SETTINGS 
************************/

.toggle-button-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 15px;
  margin: 15px 10px;

}

.toggle-button-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 25px;
  margin: 15px 10px;

}

.toggle-button-2 strong {
  margin-right: 44px;
  margin-top: 8px;
}

input[type="checkbox"], select {
  margin: 20px 0;
}

#timezone-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.timezone {
  background-color: rgba(242, 242, 242, 0.7);
  width: 93%;
  height: 50px;
  border: 1px solid gray;
  border-radius: .3em;
}

.cancel-button {
  background-color: rgb(175, 175, 175);
}

.save-button {
  background-color: $color-theme-button;
}

.settings-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.save-button, .cancel-button {
  width: 45%;
  min-height: 45px;
  margin: 0 10px;
  border-radius: .5em;
  text-transform: uppercase;
  color: #fff;
}

.settings-box {
  margin-bottom: 2em;
}
